@charset "utf-8";

/* ==========================================================================
Table of Contents - TIPI Html Template by wearesupa.com
========================================================================== */

/*

    0.  Imports
    1.  Defaults
    2.  Global - Headers
    3.  Global - Text Elements
    4.  Global - Common Text Classes
    5.  Global - Layout
    6.  Global - Columns
    7.  Global - Buttons
    8.  Global - Menu Overlay
    9.  Homepage - Preloader
    10. Homepage - Main Layout
    11. Homepage - Blog
    12. Homepage - About
    13. Homepage - Gallery
    14. Homepage - Stats Counter
    15. Article - Comments
    16. Global - Footer
    17. Global - Forms
    18. Global - Tables
    19. Common ID & Classes
    20. Media Queries

 */

/* ==================================================================
0. Imports
================================================================== */

@import url("animate.min.css");

/* ==================================================================
1. Defaults
================================================================== */
body,html
{
	height:100%;
}

body
{
	background-color:#f2f2f2;
}

body,ul,ol,dl,td,th,caption,pre,p,blockquote,input,textarea,label
{
	color:#333;
	font-weight:400;
	font-size:16px;
	font-family:"PT Serif",Verdana,Arial,Tahoma,sans-serif;
}

/* ==================================================================
2. Global - Headers
================================================================== */
h1,h2,h3,h4,h5,h6
{
	font-family:"Oswald",Helvetica,Arial,sans-serif;
}

h1
{
	padding-bottom:54px;
	text-transform:uppercase;
	font-size:52px;
}

h1 span
{
	display:block;
	font-size:70%;
}

h1.title
{
	padding-bottom:36px;
	font-size: 36px;
}

h2
{
	margin-bottom:36px;
	font-size:32px;
}

h2.title
{
	position:relative;
	display:inline-block;
	padding:0 10px;
	text-transform:uppercase;
	line-height:40px;
}

h2.title::before
{
	position:absolute;
	top:50%;
	left:-20px;
	width:20px;
	height:2px;
	content:'';
}

h2.title::after
{
	position:absolute;
	top:50%;
	right:-20px;
	width:20px;
	height:2px;
	content:'';
}

h3
{
	margin-bottom:18px;
	font-size:28px;
	line-height:40px;
}

h4
{
	margin-bottom:18px;
	font-size:26px;
}

h5
{
	margin-bottom:18px;
	font-size:22px;
}

h6
{
	margin-bottom:18px;
	font-size:18px;
}

/* ==================================================================
3. Global - Text Elements
================================================================== */
p,ul,ol
{
	margin:0 0 36px;
}

ul
{
	list-style:disc;
}

ol
{
	list-style:decimal;
}

article ul,article ol
{
	margin:0 0 36px 60px;
}

li
{
	margin-bottom:9px;
}

article li ul
{
	margin:9px 0 9px 60px;
	list-style:circle;
}

article li ol
{
	margin:9px 0 9px 60px;
	list-style:lower-alpha;
}

a,a:visited
{
	color:#333;
	text-decoration:underline;
	-webkit-transition:color .25s ease-in;
	-moz-transition:color .25s ease-in;
	-o-transition:color .25s ease-in;
	transition:color .25s ease-in;
}

a:hover
{
	text-decoration:none;
}

a:active,a:focus
{
	position:relative;
	top:1px;
}

strong
{
	font-weight:700;
}

em
{
	font-style:italic;
}

abbr
{
	border-bottom:1px dotted #999;
	cursor:help;
}

hr
{
	display:block;
	margin:3.2em 0;
	padding:0;
	height:1px;
	border:0;
	border-top:1px solid #cbd2d6;
}

blockquote
{
	padding:36px 40px;
	quotes:"\201C""\201D""\2018""\2019";
	text-align:center;
}

blockquote p
{
	display:inline;
	font-size:18px;
	line-height:1.5em;
}

blockquote:before
{
	color:#ccc;
	content:open-quote;
	vertical-align:-.4em;
	font-size:4em;
	line-height:.1em;
}

blockquote:after
{
	color:#ccc;
	content:close-quote;
	vertical-align:-.4em;
	font-size:4em;
	line-height:.1em;
}

code,tt
{
	padding:1px 3px;
	border-radius:2px;
	background-color:#222;
	color:#ecf0f1;
	white-space:pre;
	font-size:14px;
	font-family:Inconsolata,monospace,sans-serif;
}

pre
{
	overflow:auto;
	margin:36px 0;
	padding:10px;
	width:100%;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#333;
	color:#ecf0f1;
	white-space:pre;
	font-family:Inconsolata,monospace,sans-serif;
}

pre code,tt
{
	padding:0;
	border:none;
	background:transparent;
	white-space:-moz-pre-wrap;
	white-space:pre-wrap;
	font-size:inherit;
}

article img
{
	max-width:100%;
	height:auto;
}

/* ==================================================================
4. Global - Common Text Classes
================================================================== */
p.last
{
	margin-bottom:0;
}

p.large
{
	margin:18px 0;
	font-size:21px;
}

/* ==================================================================
5. Global - Layout
================================================================== */
#container
{
	position:relative;
	padding:0 12px;
	width:100%;
}

#logo
{
	padding:54px 0;
}

.row
{
	position:relative;
	z-index:10;
	padding:72px 0;
	width:100%;
	text-align:center;
}

.nopadding
{
	padding:0;
	width:100%;
}

.row header
{
	padding:0 10%;
}

.inner
{
	clear:both;
	margin:0 auto;
	max-width:1020px;
	width:100%;
	text-align:center;
}

.photosetgrid
{
	margin-bottom:36px;
}

.contentwrap
{
	position:relative;
}

.parallax
{
	position:relative;
}

/** Page border **/
#tborder,#bborder,#lborder,#rborder
{
	position:fixed;
	z-index:999;
	background:#fff;
}

#lborder,#rborder
{
	top:0;
	bottom:0;
	width:12px;
}

#lborder
{
	left:0;
}

#rborder
{
	right:0;
}

#tborder,#bborder
{
	right:0;
	left:0;
	height:15px;
}

#tborder
{
	top:0;
}

#bborder
{
	bottom:0;
}

.articleheader
{
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align:center;
}

#comments
{
	padding-top:54px;
}

.meta
{
	padding-bottom:36px;
	color:#666;
	font-size:14px;
	font-family:"Oswald",Helvetica,Arial,sans-serif;
}

.meta .tags
{
	display:block;
	padding-top:9px;
	text-transform:uppercase;
	word-spacing:5px;
}

/* ==================================================================
6. Global - Columns
================================================================== */
.col
{
	display:inline-block;
	margin:0 1%;
	vertical-align:top;
}

/** Grid of Four **/
.span4of4
{
	width:98%;
}

.span3of4
{
	width:74.5%;
}

.span2of4
{
	width:46%;
}

.span1of4
{
	width:22.5%;
}

/** Grid of Three **/
.span3of3
{
	width:98%;
}

.span2of3
{
	width:66%;
}

.span1of3
{
	width:31%;
}

.span1of3 img
{
	display:block;
	width:100%;
	height:auto;
}

/* ==================================================================
7. Global - Buttons
================================================================== */
a.btn
{
	position:relative;
	z-index:1;
	display:inline-block;
	margin:18px 0;
	padding:0 15px;
	height:42px;
	outline:none;
	border:2px solid #fff;
	color:#fff;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	font-family:"Oswald",Helvetica,Arial,sans-serif;
	line-height:40px;
	-webkit-transition:color .3s;
	-moz-transition:color .3s;
	transition:color .3s;
}

a.btn:hover,a.btn:focus
{
	color:#fccc20;
}

/** Button  - Dark **/
a.btndark
{
	border-color:#2c2c2c;
	color:#2c2c2c;
}

a.btndark:hover
{
	color:#999;
}

/** Button - Down **/
a.down
{
	border-bottom:none;
}

a.down::before,a.down::after
{
	position:absolute;
	top:100%;
	z-index:-1;
	width:55%;
	height:2px;
	background:#fff;
	content:'';
	-webkit-transition:-webkit-transform 0.3s,all .3s;
	-moz-transition:-moz-transform 0.3s,all .3s;
	transition:transform 0.3s,all .3s;
	pointer-events:none;
}

a.down::before
{
	left:-2px;
}

a.down::after
{
	right:-2px;
}

a.down:hover::before,a.down:focus::before
{
	top:130%;
	left:29%;
	width:25%;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

a.down:hover::after,a.down:focus::after
{
	top:130%;
	right:29%;
	width:25%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

/** Button - Up **/
a.up
{
	position:fixed;
	right:40px;
	bottom:36px;
	z-index:99;
	display:none;
	padding:0;
	width:40px;
	height:42px;
	outline:none;
	border:2px solid #fff;
	border-top:none;
	color:#fff;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	font-family:"Oswald",Helvetica,Arial,sans-serif;
	line-height:40px;
}

a.up::before,a.up::after
{
	position:absolute;
	top:0;
	z-index:-1;
	width:20px;
	height:2px;
	background:#fff;
	content:'';
	-webkit-transition:-webkit-transform 0.3s,all .3s;
	-moz-transition:-moz-transform 0.3s,all .3s;
	transition:transform 0.3s,all .3s;
	pointer-events:none;
}

a.up::before
{
	left:-2px;
}

a.up::after
{
	right:-2px;
}

a.up:hover::before,a.up:focus::before
{
	top:-30%;
	left:29%;
	width:10px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

a.up:hover::after,a.up:focus::after
{
	top:-30%;
	right:29%;
	width:25%;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

a.up:active,a.up:focus
{
	top:auto;
}

/** Button Prev **/
a.prev
{
	border-left:none;
}

a.prev::before,a.prev::after
{
	position:absolute;
	z-index:-1;
	width:2px;
	height:50%;
	background:#2c2c2c;
	content:'';
	-webkit-transition:-webkit-transform 0.3s,all .3s;
	-moz-transition:-moz-transform 0.3s,all .3s;
	transition:transform 0.3s,all .3s;
	pointer-events:none;
}

a.prev::before
{
	top:0;
	left:0;
}

a.prev::after
{
	top:50%;
	left:0;
}

a.prev:hover::before,a.prev:focus::before
{
	top:8px;
	left:-7px;
	height:13px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

a.prev:hover::after,a.prev:focus::after
{
	top:16px;
	left:-7px;
	height:13px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

/** Button Next **/
a.next
{
	border-right:none;
}

a.next::before,a.next::after
{
	position:absolute;
	z-index:-1;
	width:2px;
	height:50%;
	background:#2c2c2c;
	content:'';
	-webkit-transition:-webkit-transform 0.3s,all .3s;
	-moz-transition:-moz-transform 0.3s,all .3s;
	transition:transform 0.3s,all .3s;
	pointer-events:none;
}

a.next::before
{
	top:0;
	right:0;
}

a.next::after
{
	top:50%;
	right:0;
}

a.next:hover::before,a.next:focus::before
{
	top:8px;
	right:-7px;
	height:13px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

a.next:hover::after,a.next:focus::after
{
	top:16px;
	right:-7px;
	height:13px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

/* ==================================================================
8. Global - Menu Overlay
================================================================== */
#navtrigger
{
	position:fixed;
	top:36px;
	right:40px;
	z-index:9999;
	display:block;
	width:40px;
	height:28px;
	cursor:pointer;
}

#navtrigger span
{
	position:absolute;
	display:block;
	width:100%;
	height:6px;
	background-color:#fff;
	-webkit-transition:all .25s ease-in;
	-moz-transition:all .25s ease-in;
	-o-transition:all .25s ease-in;
	transition:all .25s ease-in;
}

#navtrigger:hover span
{
	background-color:#fccc20;
}

#navtrigger:hover span.top,#navtrigger:hover span.bottom
{
	background-color:rgba(255,255,255,0.5);
}

#navtrigger span.middle,#navtrigger span.middlecopy
{
	top:11px;
}

#navtrigger span.bottom
{
	bottom:0;
}

#navtrigger.selected span.top,#navtrigger.selected span.bottom
{
	background-color:transparent;
}

#navtrigger.selected span.middle
{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

#navtrigger.selected span.middlecopy
{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}

#menuoverlay
{
	position:fixed;
	top:200%;
	left:0;
	z-index:999;
	overflow: auto;
	padding:108px 12px 72px;
	width:100%;
	background-color:#2c2c2c;
	text-align:center;
	-webkit-transition:all .5s ease-in;
	-moz-transition:all .5s ease-in;
	-o-transition:all .5s ease-in;
	transition:all .5s ease-in;
}

#menuoverlay.active
{
	top:0!important;
	display:block;
}

#menuoverlay h3
{
	color:#fff;
}

#menuoverlay li
{
	margin-bottom:9px;
	list-style:none;
}

#menuoverlay li a
{
	color:#fff;
	text-decoration:none;
	font-size:16px;
	-webkit-transition:color .25s ease-in;
	-moz-transition:color .25s ease-in;
	-o-transition:color .25s ease-in;
	transition:color .25s ease-in;
}

#menuoverlay li a:hover
{
	color:#fccc20;
}

#contact .fa
{
	display:block;
	margin-bottom:18px;
	color:#fccc20;
	font-size:42px;
}

#contact,#contact a
{
	color:#fff;
	text-decoration:none;
	word-spacing:10px;
	font-size:18px;
}

#contact a:hover
{
	color:#fccc20;
}

/* ==================================================================
9. Homepage - Preloader
================================================================== */
#preloader
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:999;
	background-color:#fff;
}

#loading-animation
{
	position:absolute;
	top:50%;
	left:50%;
	margin:-100px 0 0 -100px;
	width:200px;
	height:200px;
	background-image:url(../images/loading-animation.gif);
	background-position:center;
	background-repeat:no-repeat;
}

/* ==================================================================
10. Homepage - Main Layout
================================================================== */
#cover
{
	position:fixed;
	top:0;
	left:0;
	z-index:0;
	display:block;
	overflow:hidden;
	padding:0;
	width:100%;
	height:100%;
}

#cover h1
{
	letter-spacing:.1em;
	font-size:50px;
	line-height:62px;
}

#cover h1,#cover p
{
	color:#fff;
}

.coverimg
{
	position:fixed;
	bottom:0;
	left:0;
	z-index:10;
	width:638px;
	height:638px;
}

#home
{
	display:block;
	width:100%;
	background:none;
}

#contentwrap
{
	position:relative;
	z-index:99;
}

/* ==================================================================
11. Homepage - Blog
================================================================== */
#blog
{
	background-color:#2c2c2c;
}

#blog::before
{
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-40px;
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-bottom:20px solid #2c2c2c;
	border-left:40px solid transparent;
	content:'';
}

#blog .col *
{
	color:#fff;
}

#blog h2::before,#blog h2::after
{
	background-color:#fff;
}

#blog .textblock
{
	margin:0 20%;
	width:60%;
}

.articlelist
{
	text-align:center;
	margin-bottom: 0;
}

#blog .item
{
	position:relative;
	display:inline-block;
	overflow: hidden;
	margin:0 1% 27px;
	width:316px;
	height:316px;
	list-style:none;
	text-align:center;
}

#blog .item footer section
{
	padding:9px 5%;
	color:#fff;
	text-align:left;
}

#blog .view footer
{
	position:absolute;
	bottom:-42px;
	z-index:99;
	width:100%;
	height:42px;
	background-color:rgba(0,0,0,0.4);
	-webkit-transition:all .25s ease-in;
	-moz-transition:all .25s ease-in;
	-o-transition:all .25s ease-in;
	transition:all .25s ease-in;
}

#blog .view:hover footer
{
	bottom:0;
}

#blog .view footer .fa
{
	color:#fff;
}

.view
{
	position:absolute;
	overflow:hidden;
	width:100%;
	height:100%;
	background-color:#383430;
	text-align:center;
}

.view h3
{
	position:absolute;
	bottom:36px;
	left:0;
	z-index:99;
	width:100%;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	font-size:22px;
}

.view h3 a
{
	color:#fff;
	text-decoration:none;
}

.view:hover h3 a
{
	color:#fccc20;
}

.view a.btn,.view a.btn:visited
{
	position:absolute;
	top:-100%;
	left:50%;
	margin-left:-50px;
	width:100px;
}

.view:hover a.btn
{
	top:9px;
	z-index:99;
	-webkit-animation-name:bounceInDown;
	animation-name:bounceInDown;
}

.view img
{
	position:relative;
	z-index:10;
	display:block;
	width:100%;
	height:auto;
	opacity:.4;
	filter:alpha(opacity=40);
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-ms-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
}

.view:hover img
{
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}

/* ==================================================================
12. Homepage - About
================================================================== */
#about
{
	background-color:#f2f2f2;
}

#about::before
{
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-40px;
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-bottom:20px solid #f2f2f2;
	border-left:40px solid transparent;
	content:'';
}

#about h2::before,#about h2::after
{
	background-color:#2c2c2c;
}

/* ==================================================================
13. Homepage - Gallery
================================================================== */
#gallery ul
{
	margin:0;
}

#gallery ul li.item
{
	position:relative;
	float:left;
	overflow: hidden;
	margin:0;
	padding-bottom:25%;
	width:25%;
	height:0;
	list-style:none;
}

#gallery ul li.item .view
{
	position:absolute;
	width:100%;
	height:100%;
}

#gallery .view img
{
	opacity:1;
	filter:alpha(opacity=100);
}

#gallery .view:hover img
{
	opacity:.4;
	filter:alpha(opacity=40);
}

#gallery .view:hover a
{
	top:50%;
	margin-top:-21px;
}

/* ==================================================================
14. Homepage - Stats Counter
================================================================== */
#statswrap
{
	background-attachment:fixed;
	background-position: 50%;
	background-size:cover;
	background-repeat: no-repeat;
}

.statsinner
{
	display:block;
	height:100%;
	background-color:rgba(52,41,39,0.55);
}

.stats
{
	display:inline-block;
	padding:18px 0;
	width:24%;
	color:#fff;
	text-align:center;
	font-size:18px;
}

.stats span
{
	display:block;
	font-size:52px;
	font-family:"Oswald",Helvetica,Arial,sans-serif;
}

.stats .fa
{
	color:#fff;
}

#statswrap h2
{
	color:#fff;
}

#statswrap h2::before,#statswrap h2::after
{
	background-color:#fff;
}

/* ==================================================================
15. Article & Subpages
================================================================== */

.triangletop::before
{
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-40px;
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-bottom:20px solid #f2f2f2;
	border-left:40px solid transparent;
	content:'';
}

#comments
{
	background-color:#2c2c2c;
}

#comments::before
{
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-40px;
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-bottom:20px solid #2c2c2c;
	border-left:40px solid transparent;
	content:'';
}

#comments .col *
{
	color:#fff;
}

#comments h2::before,#comments h2::after
{
	background-color:#fff;
}

.sharelinks ul
{
	text-align:center;
}

.sharelinks li
{
	display:inline-block;
	margin:0 7px;
	list-style:none;
}

.page404
{
	background-attachment:fixed;
	background-position: 50%;
	background-size:cover;
	background-repeat: no-repeat;
}

.load-panel
{
	display: inline-block;
	width: 100%;
	opacity: 0;
}

/* ==================================================================
16. Global - Footer
================================================================== */
#footer
{
	background-color:#fccc20;
}

#footer::before
{
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-40px;
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-bottom:20px solid #fccc20;
	border-left:40px solid transparent;
	content:'';
}

#footer.row
{
	padding:36px 0;
}

#footer header *
{
	color:#2c2c2c;
}

/** Social Links **/
.sociallinks ul
{
	text-align:center;
}

.sociallinks li
{
	display:inline-block;
	margin:0 7px;
	list-style:none;
}

.sociallinks a:hover
{
	color:#fff;
}

/* ==================================================================
17. Global - Forms 
================================================================== */

input[type="text"],input[type="email"],input[type="password"]
{
	display: inline-block;
	margin:0 20px 18px 0;
	padding:8px 10px;
	max-width:300px;
	width: 100%;
	border:none;
	border-bottom: 2px solid #2c2c2c;
	background:none;
}

textarea
{
	display: block;
	margin:18px 0;
	padding:8px 10px;
	max-width:624px;
	width: 100%;
	height:200px;
	border: 2px solid #2c2c2c;
	background:none;
}

input[type="submit"]
{
	margin:18px 0;
	padding:0 15px;
	height:42px;
	outline:none;
	border:2px solid #2c2c2c;
	background:none;
	color:#2c2c2c;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
	font-family:"Oswald",Helvetica,Arial,sans-serif;
	line-height: 40px;
	cursor:pointer;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

input[type="submit"]:hover,input[type="submit"]:focus
{
	color:#999;
}

/* ==================================================================
18. Global - Tables
================================================================== */
table
{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:36px 0;
	max-width:100%;
	width:100%;
	background-color:transparent;
}

table th,table td
{
	padding:8px;
	vertical-align:top;
	text-align:left;
	line-height:20px;
}

table th
{
	color:#222;
	font-family:"Oswald",Helvetica,Arial,sans-serif;
}

table caption + thead tr:first-child th,table caption + thead tr:first-child td,table colgroup + thead tr:first-child th,table colgroup + thead tr:first-child td,table thead:first-child tr:first-child th,table thead:first-child tr:first-child td
{
	border-top:0;
}

table table table
{
	background-color:#fff;
}

table tbody > tr:nth-child(odd) > td,table tbody > tr:nth-child(odd) > th
{
	background-color:#f9f9f9;
}

/* ==================================================================
19. Common ID & Classes
================================================================== */
#skip
{
	display:none;
}

.clear
{
	clear:both;
}

.hide
{
	display:none;
}

.left
{
	float:left;
}

.right
{
	float:right;
}

.textleft
{
	text-align:left;
}

.textright
{
	text-align:right;
}

.textcenter
{
	text-align:center;
}

.visible
{
	visibility:visible;
}

.fixed
{
	position:fixed;
}

.nopaddingbtm
{
	padding-bottom:0;
}

.fa
{
	margin-right:5px;
	color:#999;
}

.divider
{
	clear:both;
	padding:18px 0;
	width:100%;
	border-top:1px solid #ccc;
}

/* ==================================================================
20. Media Queries
================================================================== */

@media only screen and (max-width : 64em) {
	/* Smaller than 1024px */
	
	.home #cover
	{
		position:absolute;
		top:0;
		left:0;
		z-index:0;
		display:block;
		overflow:hidden;
		padding:0;
		width:100%;
		height:100%;
	}
	
	.coverimg
	{
		display: none;
	}
	
	a.up
	{
		border-top: 2px solid #fff;
	}
	
	a.down
	{
		border-bottom: 2px solid #fff;
	}
	
	a.down::before,a.down::after,a.up::before,a.up::after
	{
		display: none;
	}
	
	#statswrap
	{
		background-attachment:scroll;
		background-size:cover;
	}
	
}

@media only screen and (max-width : 40em) {
	/* Smaller than 640px */
	
	#tborder,#bborder,#lborder,#rborder,#cover .down
	{
		display: none;
	}
	
	#navtrigger
	{
		top: 9px;
		right: 10px;
	}
	
	#menuoverlay
	{
		padding: 18px 0;
		min-height: 100%;
	}
	
	#contact.row
	{
		padding: 0;
	}
	
	#contact a
	{
		display: block;
	}
	
	#cover h1
	{
		font-size: 30px;
		line-height: normal;
	}
	
	#container
	{
		padding: 0;
	}
	
	.span2of4
	{
		width:98%;
	}
	
	.span1of4
	{
		width: 98%;
	}
	
	.stats
	{
		width:49%;
	}
	
	a.up
	{
		right:10px;
		bottom: 9px;
	}
		
}

@media only screen and (max-width : 30em) {
	/* Smaller than 480px */
	
	#gallery ul li.item
	{
		padding-bottom:50%;
		width:50%;
	}
	
	#blog .item
	{
		display: block;
		overflow: hidden;
		margin:0;
		width:100%;
		height:316px;
		list-style:none;
		text-align:center;
	}
	
	article ul,article ol
	{
		margin:0 0 36px 40px;
	}
	
	.sociallinks li
	{
		margin-bottom: 0;
	}
}
