﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddAlbum.aspx.cs" Inherits="AddAlbum" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            height: 164px;
            width: 430px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/assets/images/body/bodybkg1new.jpg" Height="970px" Width="1650px">
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            <div style="height: 344px; margin-left: 258px; margin-right: 344px; margin-top: 84px; text-align:center">
                <asp:Label ID="Label2" runat="server" ForeColor="White" Text="ADD ALBUM " Font-Size="Larger"></asp:Label>
                <br />
                <br />
                <br>
                <br>
                <table class="auto-style1" >
                    <tr>
                        <td>
                            <asp:Label ID="Label3" runat="server" ForeColor="White" Text="NAME"></asp:Label>
                        </td>
                        <td>
                            <asp:TextBox ID="TextBox1" runat="server" BackColor="White" ForeColor="Black"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="Label6" runat="server" ForeColor="White" Text="LIKES"></asp:Label>
                        </td>
                        <td>
                            <asp:TextBox ID="TextBox9" runat="server" BackColor="White" ForeColor="Black"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="Label7" runat="server" ForeColor="White" Text="PLAN_ID"></asp:Label>
                        </td>
                        <td>
                            <asp:TextBox ID="TextBox10" runat="server" BackColor="White" ForeColor="Black"></asp:TextBox>
                        </td>
                    </tr>
                </table>
                <br>
                <asp:ImageButton ID="ImageButton1" runat="server" Height="27px" ImageUrl="~/assets/stock-vector-check-box-icon-set-vector-illustration-250573594.jpg" OnClick="ImageButton1_Click" style="margin-left: 4px" Width="33px" />
                <br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
            </div>
        </asp:Panel>
    <div>
     

    </div>
  
    </div>
    </div>
    </form>
</body>
</html>
