﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddMarkers.aspx.cs" Inherits="AddMarkers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng(21.0000, 78.0000),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Attach click event handler to the map.


        google.maps.event.addListener(map, 'click', function (e) {

            //Determine the location where the user has clicked.
            var location = e.latLng;


            //Create a marker and placed it on the map.
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: "Markers/new.jpg"

            });


            function initializer() {

                var textbox1 = document.getElementById('textbox1');
                textbox1.value = location.lat;
                var textbox2 = document.getElementById('textbox2');
                textbox2.value = location.lng;
            }


            //Attach click event handler to the marker.
            google.maps.event.addListener(marker, "click", function (e) {
                document.getElementById('<%=TextBox3.ClientID%>').value = location.lat();
                document.getElementById('<%=TextBox4.ClientID%>').value = location.lng();

                var infoWindow = new google.maps.InfoWindow({
                    content: 'Latitude: ' + location.lat() + '<br />Longitude: ' + location.lng()
                });
                infoWindow.open(map, marker);
            });
        });
    };
</script>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            height: 30px;
            margin-left: 35px;
            margin-right: 0px;
        }
        .auto-style3 {
            width: 229px;
        }
        .auto-style4 {
            width: 279px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div>
   <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/assets/images/body/bodybkg1new.jpg" Height="1258px" Width="1650px">
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            <div style="height: 344px; margin-left: 258px; margin-right: 344px; margin-top: 57px; text-align:center; width: 807px;">
                <asp:Label ID="Label2" runat="server" ForeColor="White" Text="ADD ALBUM " Font-Size="Larger"></asp:Label>
                <br />
                <br />
                <br />

                 <div style="height: 134px">
            <table class="auto-style1">
                <tr>
                    <td class="auto-style4">
                        <asp:Label ID="Label3" runat="server" ForeColor="White" Text="NAME"></asp:Label>
                    </td>
                    <td class="auto-style1">
            <asp:TextBox ID="TextBox1" runat="server" ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style4">
                        <asp:Label ID="Label4" runat="server" ForeColor="White" Text="ADDRESS"></asp:Label>
                    </td>
                    <td class="auto-style1">
            <asp:TextBox ID="TextBox2" runat="server" ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style4">
                        <asp:Label ID="Label5" runat="server" ForeColor="White" Text="LAT"></asp:Label>
                    </td>
                    <td class="auto-style1">
            <asp:TextBox ID="TextBox3" runat="server" ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style4">
                        <asp:Label ID="Label6" runat="server" ForeColor="White" Text="LNG"></asp:Label>
                    </td>
                    <td class="auto-style1">
            <asp:TextBox ID="TextBox4" runat="server" ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style4">
                        <asp:Label ID="Label7" runat="server" ForeColor="White" Text="MAP_ID"></asp:Label>
                    </td>
                    <td class="auto-style1">
                        <asp:TextBox ID="TextBox5" runat="server" ></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style4">&nbsp;</td>
                    <td class="auto-style1">
                        <asp:ImageButton ID="ImageButton1" runat="server" Height="27px" ImageUrl="~/assets/stock-vector-check-box-icon-set-vector-illustration-250573594.jpg" OnClick="ImageButton1_Click" style="margin-left: 4px" Width="33px" />
                    </td>
                </tr>
            </table>
 <div id="dvMap" style="border-style: ridge; width: 800px; height: 300px; margin-top:inherit; padding-top:10px">
 </div>
    
 

            <br>
        </div>
    
                <br />
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
            </div>
        </asp:Panel>
    <div>
     
    </div>
    </form>
</body>
</html>
