﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FbDiego.aspx.cs" Inherits="Diego" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body style="height: 1760px">
    <form id="form1" runat="server">
        <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/assets/images/body/blue-sky-nature-backgrounds.jpg" Height="970px" Width="1650px">
    <div style="height: 0px ;padding-top:50px;padding-top:50px; padding-left:20px;">
    <div id="fb-root"></div><script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1684049415144876&amp;id=1684048288478322&amp;substory_index=0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1684049415144876&amp;id=1684048288478322&amp;substory_index=0">Posted by <a href="https://www.facebook.com/Dieggo-Torres-1684048288478322/">Dieggo Torres</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1684049415144876&amp;id=1684048288478322&amp;substory_index=0">Sunday, December 20, 2015</a></blockquote></div></div>
    </div>

           <div style="height: 0px ;margin-top:400px; padding-top:50px; padding-left:20px;">
            <div id="Div1"></div><script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1684049238478227&amp;id=1684048288478322" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1684049238478227&amp;id=1684048288478322">Posted by <a href="https://www.facebook.com/Dieggo-Torres-1684048288478322/">Dieggo Torres</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1684049238478227&amp;id=1684048288478322">Sunday, December 20, 2015</a></blockquote></div></div>
           </div>
                 </asp:Panel>
    </form>
</body>
</html>
