﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FbJohn.aspx.cs" Inherits="FbJohn" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #Div5 {
            width: 750px;
        }
        #Div6 {
            width: 750px;
            height: 19px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/assets/images/body/blue-sky-nature-backgrounds.jpg" Height="970px" Width="1650px">  
    
             <div id="fb-root" style="height: 0px ;padding-top:50px;padding-top:50px;"></div><script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=444033815790366&amp;id=444032669123814" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=444033815790366&amp;id=444032669123814">Posted by <a href="https://www.facebook.com/John-Wright-444032669123814/">John Wright</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=444033815790366&amp;id=444032669123814">Sunday, December 20, 2015</a></blockquote></div></div>
    </div>
        <div style="height: 0px ;padding-top:50px;padding-top:50px; padding-left:20px;"><div id="Div5">
            <div id="Div6">
            </div>
            </div><script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=444033219123759&amp;id=444032669123814" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=444033219123759&amp;id=444032669123814" style="height: 48px"><p>Heaven</p>Posted by <a href="https://www.facebook.com/John-Wright-444032669123814/">John Wright</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=444033219123759&amp;id=444032669123814">Sunday, December 20, 2015</a></blockquote></div></div>
            </div>
          </asp:Panel>
      
    </form>
</body>
</html>
