﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Guide_Menu.aspx.cs" Inherits="Guide_Menu" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/assets/images/body/nature-wallpapers-wallpapers-wallpaper-flower-white-background-nature-wallpaperhd-flowers-wallpaper.jpg" Height="970px" Width="1650px" style="margin-top: 0px">
         <div style="margin-left: 200px ;padding-top:140px; vertical-align:central">
             <asp:ImageButton ID="ImageButton1" runat="server" Height="145px" ImageUrl="~/Markers/1b62d5ec5cbb8eb0836fccf874a7e2f1.jpg" style="margin-left: 0px" Width="151px" OnClick="ImageButton1_Click" />
             <asp:ImageButton ID="ImageButton2" runat="server" Height="145px" ImageUrl="~/Markers/pin_plus-512.png" style="margin-left: 200px" Width="151px" OnClick="ImageButton2_Click" />
             <asp:ImageButton ID="ImageButton3" runat="server" Height="145px" ImageUrl="~/Markers/unnamed.png" style="margin-left: 200px" Width="151px" OnClick="ImageButton3_Click" />
             <br />
             
             &nbsp;&nbsp;&nbsp;&nbsp;
             <asp:Label ID="Label1" runat="server" Text="Add Tour Plans" Font-Size="Large" ForeColor="Black"></asp:Label>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
             <asp:Label ID="Label2" runat="server" Font-Size="Large" ForeColor="Black" Text="Add Tour Plans"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
             <asp:Label ID="Label3" runat="server" Font-Size="Large" ForeColor="Black" Text="Add Tour Maps"></asp:Label>
             </div>


</asp:Panel>
    </div>
    </form>
</body>
</html>
