﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewAllMaps.aspx.cs" Inherits="ViewAllMaps" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <div>
    <asp:Panel ID="Panel1" runat="server" BackImageUrl="~/assets/images/body/bodybkg1new.jpg" Height="970px" Width="1650px">
            <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
            <div style="height: 344px; margin-left: 258px; margin-right: 344px; margin-top: 84px; text-align:center">
                <asp:Label ID="Label2" runat="server" ForeColor="White" Text=" MAPS" Font-Size="Larger"></asp:Label>
                <br>
                <br>
                
             

                <asp:GridView ID="GridView1" runat="server" Width="307px" ForeColor="White">
                </asp:GridView>

                </div>
        </asp:Panel>
    <div>
    </div>
    </form>
</body>
</html>
